body {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
}

div.fragment { 
	width: 98%;
	border: 0px solid #CCCCCC;
	background-color: #F8F8FF;
	padding-left: 4px;
	margin: 4px;
	margin-bottom: 40px;
}

div.box { 
	width: 98%;
	background-color: #f5f5f5;
	border: 1px solid #CCCCCC;
	color: black;
	padding: 4px;
}

pre {
	font-size: 14px;
	padding-left: 20px;
	color: #4A4A4A;
}

pre.firstDesc { 
	margin-top: -5px;
	margin-bottom: 30px;
}

pre.text {}

pre.io {font-size: 14px; color: #000000; }

pre.comment { color: #228B22;}

pre.string {color: #B20000;}

pre.syntax { color: #1874CD;}

pre.refFunc {color: #FFA54F;}

pre.m2html {
	color: #000000;
	text-align: left;
	font-size: 10px;
}


a {
	text-decoration: none; 
}

a:hover {
	background-color: #006699;
	color:#FFFFFF;
}

a.head{
	font-weight: normal; 
	color: #009999;
	font-size: small;
}
a.code {
	font-weight: normal; 
	color: #A020F0;
	font-size: small;
}

a.code:hover {
	background-color: #FF0000;
	color: #FFFFFF;
}	

a.image:hover {
	background-color: #00B1AA;
}

h1 {
	background: transparent;
	color: #EE7600;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
	margin-bottom: 0px;
	padding-left: 10px;
}

h2 {
	background: transparent;
	color: #000000;
	font-size: large;
	margin-bottom: 0px;
	font-size: 20px;
	padding-left: 10px;
}

address {
	font-size:small;
	color: #000000;
	text-align: left;
	padding-left: 10px;
}
address.small {
	font-size: 10px;
	color: #000000;
	text-align: left;
	padding-top: 7px;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}
input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #eeeeff;
}

li {
	color: #CD3333;
}

ul {
	margin-bottom: -5px;
	margin-top: 0px;
}

hr.last { 
	width:100%;
	text-align:left;
	margin-left:0;
	}
	
hr.btw {
	width:100%;
	text-align:left;
	margin-top:2px;
	margin-left: 0px;
}

img{
	width: 80px;
}

.comment {
	font-weight: normal;
	color: #3c763D;
	margin-bottom: 0px;
	display: inline;
}

.classBlock {
	font-weight: normal;
	color: #000000;
	margin-bottom: 0px;
	/* display: inline; */
}

.functionKeyword{
	color: #0000FF;
	display: inline;
}